p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
    font-variant: small-caps;
}
h1{
     text-align: center;
}
button {
      border: none;
      background-color: brown;
      color: white;
      font-weight: bold;
      padding: 13px 16px;
      border-radius: 6px;
      cursor: pointer;
      transition: color, background-color 0.15s;
    }
h2{
     
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      text-transform: lowercase;
      text-decoration: underline;
      text-shadow: 2px 2px 5px red;
      background-color: green;
      margin-bottom: 10px;
    
}